* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  gap: 2rem;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.top {
  text-align: center;
  margin-top: 4rem;
  justify-content: space-between;
  align-items: center;
}

/* Header section */

.top .header-section .share-section .share__icon {
  padding: 0.8rem 1rem;
  position: absolute;
  right: 13rem;
  top: -1.3rem;
  background: #ffffff;
  border: 0.06rem dashed #d0d5dd;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
}
.top .header-section .share-section .share__icon #share {
  width: 2.5rem;
  height: 2.5rem;
}
.top .header-section .share-section .shareLink {
  background-color: #101828;
  width: 10rem;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  color: #fff;
  position: absolute;
  top: -0.5rem;
  right: 19rem;
  visibility: hidden;
}
.top .header-section .share-section .shareLink #arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 1rem;
  left: 9.5rem;
  background-color: #101828;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}
.top .header-section .share-section .dots__icon {
  display: none;
}
.top .header-section .share-section:hover > .shareLink {
  visibility: visible;
}
.top .header-section .share-section .share__icon:hover,
.top .header-section .share-section .dots__icon:hover {
  background: #f9fafb;
}

.top .header-section .image #profile__img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.top .header-section .image {
  position: relative;
}

.top .header-section .image .camera #camera__icon {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.5s ease;
}
.top .header-section .image #profile__img:hover {
  filter: brightness(0.6);
}
.top .header-section .image:hover > .camera #camera__icon {
  display: block;
  fill: #000;
}

.top .header-section #twitter {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: inherit;
  margin-top: 1.5rem;
  color: #101828;
}
.top .header-section #slack {
  display: none;
}
/* Body section */
.body-section {
  margin-top: 3rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.body-section .body__links a {
  background-color: #eaecf0;
  border-radius: 0.5rem;
  border: 0.06rem solid #eaecf0;
  color: #101828;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  height: auto;
  line-height: 3rem;
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  text-decoration: none;
  width: 55rem;
}

.body-section .body__links a:hover {
  background-color: #d0d5dd;
  border: 0.06rem solid #d0d5dd;
  box-shadow: 0 0.1rem 0.15rem rgba(16, 24, 40, 0.05);
}
.body-section > div a:first-of-type {
  margin-top: 0;
}

.body-section .social__icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.body-section .social__icons img {
  width: 3rem;
  height: 3rem;
}
/* Footer Section */
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  text-align: center;
  width: 100%;
  margin: 4rem 0 3rem 0;
  padding: 3rem 5rem;
  border-top: 0.06rem solid #667085;
}

.footer-section p {
  font-weight: 400;
  color: #667085;
  line-height: 3rem;
}

@media screen and (max-width: 681px) {
  .top .header-section .share-section .shareLink {
    right: 1rem;
    visibility: hidden;
  }
  .top .header-section .share-section .shareLink #arrow {
    left: -0.3rem;
    background-color: #101828;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  }
}

/* Contact page section */
.contact {
  padding: 0;
  justify-content: center;
  align-items: stretch;
  padding: 0 25vw;
  margin-top: 10rem;
}
.contact .contact--heading {
  text-align: left;
  margin-bottom: 3rem;
}
.contact .contact--heading h1 {
  color: #101828;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.05rem;
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}
.contact .contact--heading p {
  color: #475467;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.contact .contact--body {
  font-size: 1.8rem;
}
.contact label {
  color: #344054;
  line-height: 1.3rem;
  font-weight: 500;
  width: auto;
}
.contact input {
  outline: none;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  border: 0.06rem solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.contact input[type="email"],
.contact input[type="text"] {
  width: 100%;
}
.contact .contact--body div {
  margin-top: 1.5rem;
}
.contact .contact--body .top_details {
  display: flex;
  gap: 1.5rem;
  margin-top: 0;
}
.contact .contact--body .top_details div {
  width: 50%;
}
.contact .contact--body .top_details input {
  margin-top: 0.5rem;
}
.contact #message {
  resize: none;
  outline: none;
  width: 100%;
  height: 12rem;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  padding: 1.2rem 1rem;
  border: 0.06rem solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
}
.contact .check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  margin-top: 1.5rem;
  color: #475467;
  font-size: 1rem;
}
.contact #btn__submit {
  background: #1570ef;
  border: 0.06rem solid #1570ef;
  box-shadow: 0 0.06rem 0.125rem rgba(16, 24, 40, 0.05);
  outline: none;
  margin-top: 3rem;
  padding: 1.3rem;
  font-size: 1.8rem;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 10rem;
}
.contact input,
.contact textarea,
.contact button {
  display: block;
}
.contact input[type="checkbox"] {
  display: inline;
}

@media screen and (max-width: 916px) {
  .contact {
    padding: 0 20vw;
  }
}
@media screen and (max-width: 690px) {
  .contact {
    padding: 0 15vw;
  }
}
/* MOBILE VIEW SECTION */
@media screen and (max-width: 625px) {
  /* mobile header section */
  .top .header-section .image .camera #camera__icon {
    width: 3rem;
  }
  .top .header-section .share-section .shareLink {
    display: none;
  }
  .top .header-section .share-section .share__icon {
    display: none;
  }
  .top .header-section .share-section .dots__icon {
    display: block;
    position: absolute;
    top: -1.3rem;
    right: 0;
    padding: 2.5rem;
    background: #ffffff;
    border: 0.06rem dashed #d0d5dd;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
  .top .header-section .share-section .dots__icon #dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .top .header-section .image #profile__img {
    width: 20rem;
    height: 20rem;
  }

  .top .header-section #twitter {
    font-size: 3rem;
  }

  /* mobile body section */
  .body-section {
    padding: 0 1rem;
  }
  .body-section .body__links a {
    font-size: 2.5rem;
    padding: 2.5rem 3rem;
    height: auto;
    width: 100%;
  }
  .body-section .social__icons {
    gap: 3rem;
    margin-top: 2.5rem;
  }
  .body-section .social__icons img {
    width: 5rem;
    height: 5rem;
  }

  /* mobile footer section */
  .footer-section {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 4rem 0 3rem 0;
    padding: 3rem 1rem;
  }
  .footer-section img {
    width: 50%;
  }
  .footer-section p {
    font-size: 2.5rem;
    text-align: left;
  }
  /* mobile contact section */
  .contact {
    padding: 0 2rem;
    margin-top: 5rem;
  }
  .contact .contact--heading h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .contact .contact--heading p {
    font-size: 2rem;
  }
  .contact .contact--body .top_details {
    display: block;
  }
  .contact .contact--body .top_details div {
    margin-top: 1.5rem;
    width: 100%;
  }
  .contact .contact--body,
  .contact #btn__submit {
    font-size: 2rem;
  }
  .contact .contact--body .check p {
    font-size: 1.5rem;
  }
  .contact .contact--body .top_details div input {
    margin-top: 1rem;
  }
  .contact input,
  .contact #message {
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
  .contact #btn__submit {
    margin-bottom: 3rem;
  }
}
