* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  gap: 2rem;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.top {
  text-align: center;
  margin-top: 4rem;
}

/* Header section */

.top .header-section .share__icon {
  padding: 0.8rem 1rem;
  position: absolute;
  right: 13rem;
  top: -1.3rem;
  background: #ffffff;
  border: 0.06rem dashed #d0d5dd;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.top .header-section .dots__icon {
  display: none;
}
.top .header-section .share__icon:hover,
.top .header-section .dots__icon:hover {
  background: #f9fafb;
}
/* .top .header-section .share__icon:focus {
  box-shadow: 0px 0px 0px 4px #f2f4f7;
} */
.top .header-section .share__icon #share {
  width: 2.5rem;
  height: 2.5rem;
}
.top .header-section .image #profile__img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.top .header-section .image {
  position: relative;
}

.top .header-section .image .camera #camera__icon {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.5s ease;
}
.top .header-section .image #profile__img:hover {
  filter: brightness(0.6);
  /* border: 0.1rem solid #ebe9fe; */
}
.top .header-section .image:hover > .camera #camera__icon {
  display: block;
  fill: #000;
}

.top .header-section #twitter {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  text-align: inherit;
  margin-top: 1.5rem;
  color: #101828;
}
.header-section #slack {
  display: none;
}
/* Body section */
.body-section {
  margin-top: 3rem;
  padding: 0 9rem;
}

.body-section button {
  width: 100%;
  font-weight: 500;
  height: 5rem;
  font-size: 1.8rem;
  background-color: #eaecf0;
  border: 0.06rem solid #eaecf0;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
}
/* .body-section button:focus {
  border: 0.06rem solid #98a2b3;
  box-shadow: 0 0.1rem 0.2rem rgba(16, 24, 40, 0.05), 0 0 0 0.3rem #ebe9fe;
} */
.body-section button:hover {
  background-color: #d0d5dd;
  border: 0.06rem solid #d0d5dd;
  box-shadow: 0 0.1rem 0.15rem rgba(16, 24, 40, 0.05);
}
.body-section > div button:first-of-type {
  margin-top: 0;
}
.body-section a {
  width: 6rem;
  text-decoration: none;
  color: #101828;
  line-height: 1.75rem;
}
.body-section .social__icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body-section .social__icons img {
  width: 3rem;
  height: 3rem;
}
/* Footer Section */
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  text-align: center;
  width: 90rem;
  margin: 4rem 0 3rem 0;
  border-top: 0.06rem solid #667085;
  padding: 3rem 1rem;
}

.footer-section p {
  font-weight: 400;
  color: #667085;
  line-height: 2.5rem;
}

@media screen and (max-width: 860px) {
  .footer-section {
    width: 70rem;
  }
}

/* MOBILE VIEW SECTION */
@media screen and (max-width: 625px) {
  body {
    overflow-y: scroll;
  }
  /* mobile header section */
  .top .header-section .image .camera #camera__icon {
    width: 3rem;
  }
  .top .header-section .share__icon {
    display: none;
  }
  .top .header-section .dots__icon {
    display: block;
    position: absolute;
    top: -1.3rem;
    right: 0.5rem;
    padding: 2.5rem;
    background: #ffffff;
    border: 0.06rem dashed #d0d5dd;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
  .top .header-section .dots__icon #dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .top .header-section .image #profile__img {
    width: 20rem;
    height: 20rem;
  }

  .top .header-section #twitter {
    font-size: 3rem;
  }

  /* mobile body section */
  .body-section {
    padding: 0 1.5rem;
  }
  .body-section button {
    font-size: 2.5rem;
    height: 10rem;
  }
  .body-section .social__icons {
    gap: 3rem;
    margin-top: 2.5rem;
  }
  .body-section .social__icons img {
    width: 5rem;
    height: 5rem;
  }

  /* mobile footer section */
  .footer-section {
    flex-direction: column;
    width: 100%;
    margin: 4rem 0 3rem 0;
    padding: 3rem 1rem;
  }
  .footer-section img {
    width: 50%;
  }
  .footer-section p {
    font-size: 2.5rem;
  }
}
